.alert-succes {
  text-align: center;
  border-radius: 10px;
  padding: 0.2rem 0.5rem;
  background-color: #3ac758;
}

.alert-danger {
  text-align: center;
  border-radius: 10px;
  padding: 0.2rem 0.5rem;
  background-color: rgba(223, 64, 64, 0.484);
}
